.icon{
  background-image: url('assets/icons.png');
  height: 32px;
  width: 32px;
}

.flip{
  transform: scaleX(-1);
}

.icon.yt{
  background-position: 0 0;
}

.icon.ig{
  background-position: -32px 0;
}

.icon.whatsapp{
  background-position: -64px 0;
}

.icon.fb{
  background-position: -96px 0;
}

.icon.mail{
  background-position: -128px 0;
}

.icon.share{
  background-position: -160px 0;
}

.icon.arrow{
  background-position: -192px 0;
}
